:root
{
  --text-color: white;
  --text-color-hover: hsl(0, 0%, 89%);
  --background-color: hsl(0, 0%, 6%);
  --background-color-1: hsl(0, 0%, 10%);
  --background-color-2: hsl(0, 0%, 0%);
  --background-color-blur: rgb(0, 0, 0, 0.5);
  --secondary-color: hsl(185, 22%, 25%); 
  --accent-color: hsl(212, 93%, 42%); 
  --accent-color-2: hsl(40, 90%, 55%); 
  --clear-color: rgba(0, 0, 0, 0);
}

html, body 
{
  margin: 0 !important; /* Remove default margin */
  padding: 0 !important; /* Remove default padding */
  width: 100vw !important; /* Ensure full width */
}

body 
{
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: max(1vw, 1vh);
  font-family: 'Consolas', 'Calibri',  Verdana, sans-serif;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar
{
  background-color: var(--accent-color) !important;
  box-shadow: 0.2em 0em 0.2em var(--background-color-2);
  transition: all 0.5s ease;
}

.navbar:hover
{
  box-shadow: 0.4em 0em 0.4em var(--background-color-2);
  transition: all 0.5s ease;
}

#navbar.navbar-collapse
{
  padding: 0.5em 1em;
}

#navbar.navbar-collapse form
{
  padding: 0em 0em 0em 1.5em;
}

.divisor-bar
{
  width: 100%;
  height: fit-content;
  background-color: var(--background-color-2);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 2em;
}

.divisor-bar h2
{
  font-size: 1.5em;
}

.about-me
{
  background-color: var(--secondary-color);
  
  padding: 2em 2em;
  margin: 0.5em 0em;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me .my-desc
{
  font-size: 2em;
  display: inline-flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5em;
}

.my-desc .my-job
{
  font-size: 0.7em;
}

.proj-lst
{
  list-style: none;
  margin: 0 !important;
  padding: 2em 0.5em;

  width: 100%;
  height: fit-content;

  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.proj-item
{
  height: fit-content;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  gap: 1em;

  box-shadow: 0.2em 0em 0.2em var(--background-color-2);
}

.proj-item .container-fluid
{
  padding: 0.5em 1.5em;
}

.proj-body
{
  padding: 0.5em 1em;
  justify-content: space-evenly;
  align-items: center;
}

.proj-img
{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  border-radius: 0em;
  border-width: 0.5em;
  border-color: var(--accent-color);

  padding-bottom: 0.5em;

  transition: all 0.5s ease;
}

.proj-body:hover>.proj-img
{
  box-shadow: 0.1em 0.1em 0.1em var(--accent-color);
  transition: all 0.5s;
}

@keyframes refit-proj-img 
{
  0%
  {
    transform: perspective(30em) rotateY(30deg) rotateX(90deg) scale(0.2);
  }  
  100%
  {
    transform: perspective(30em) rotateY(0deg) rotateX(0deg) scale(1.0);
  }
}

.proj-img img
{
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.proj-item .card-header
{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 1.5em;
}

.proj-item .card-title
{
  font-size: 1.35em;
}

.proj-item .badge
{
  background-color: var(--secondary-color);
}


.skill-section
{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5em;
}

.skill-list
{
  width: fit-content;
  max-width: 95%;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0.5em;

  padding-inline: 0;
}

.skill-list li
{
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.5s ease;

  gap: 1em;
}

.skill-list li:hover
{
  transition: all 0.5s ease;
}

.skill-list li img
{
  height: 1.5em;
  width: auto;
  margin-right: 1em;
  transition: all 0.5s ease;
}

.skill-list li:hover img
{
  height: 1.75em;
  animation: skill-icon-rotate 2s ease;
  transition: all 0.5s ease;
}

@keyframes skill-icon-rotate 
{
  0%
  {
    transform: scale(1) rotateY(0deg);
  }
  50%
  {
    transform: scale(1.1) rotateY(180deg);
  }
  100%
  {
    transform: scale(1) rotateY(360deg);
  }
}

.skill-bar
{
  border: solid;
  border-width: 0;
  border-radius: 0.2em;

  background-color: var(--secondary-color);
  width: 100%;
  height: 1em;
  overflow: hidden;
}

.skill-fill
{
  position: relative;
  background: linear-gradient(90deg, var(--text-color) 0%, var(--accent-color) 50%);
  backdrop-filter: blur(2em);
  height: 100%;
  width: var(--fill);
  animation: animate-fill 2s;
  overflow: hidden;
  transition: all 0.5s ease;
}

.skill-list li:hover .skill-fill
{
  background: linear-gradient(90deg, var(--text-color) 0%, var(--accent-color) 50%);
  transition: all 0.5s ease;
}

@keyframes animate-fill
{
  0%
  {
    width: 0%;
  }  
  100%
  {
    width: var(--fill);
  }
}

.skill-level
{
  display: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient( 30deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 10%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.4) 20% );
  animation: move-gradient 5s infinite ease;
}
@keyframes move-gradient 
{ 
  0% 
  { 
    background-position: 0% 0%; 
  } 
  100% 
  { 
    background-position: 200% 200%;
  }
}

.skill-list-lesser 
{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.5em 1.5em;
  gap: 1.5em;

  list-style: none;
  padding-inline: 0;
}

.skill-list-lesser li
{
  width: 2.5em;
  height: fit-content;
}


@property --alternate-accent-color
{
    syntax: '<color>';
    inherits: false;
    initial-value: #ffffff;
}

@keyframes alternate-border-color
{
  0%
  {
    --alternate-accent-color: var(--accent-color);
  }

  100%
  {
    --alternate-accent-color: var(--accent-color-2);
  }
}

.skill-list-lesser li img
{
  width: 100%;
  height: auto;
}

#personal-projects
{
  display: flex;
}

.proj-list-2
{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  padding-inline: 0;

  margin: 0.5em 0.5em;
}

.proj-list-2 .card
{
  background-color: var(--background-color-1);
  width: 100%;
  margin: 0;
  padding: 0;
}

.proj-list-2 .card-header
{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.proj-list-2 .card-wrapper
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
}

.proj-list-2 .card-image
{
  width: fit-content;
  max-width: 70%;
  height: auto;
  overflow: hidden;

  margin: 0.5em 0.5em;
}

.proj-list-2 .card-image img
{
  width: 100%;
  height: auto;
}


.proj-list-2 .card-body
{
  width: auto;
  max-width: 70%;
}


.proj-list-2 .card-footer
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  padding: 0.5em 1em;
  border: solid;
  border-color: var(--background-color);
  border-width: 0.5em 0em 0.2em 0em;
}

.proj-list-2 .card-footer button
{
  background-color: var(--accent-color);
  color: var(--text-color-hover);
  border: solid;
  border-radius: 0.25em;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  height: 2.5em;
  padding: 0.5em 0.5em;

  box-shadow: -0.1em 0.1em 0.1em var(--background-color-2);
  transition:  all 0.5s ease;
}

.proj-list-2 .card-footer button:hover
{
  background-color: var(--accent-color-2);
  border-radius: 1.5em;
  padding: 0.75em 1.5em;
  box-shadow: 0.2em 0.2em 0.2em var(--background-color-2);
  transition:  all 0.5s ease;
}

@media screen and (max-width: 800px) 
{
  .proj-list-2 .card-body
  {
    width: auto;
    max-width: 100%;
  }
  .proj-list-2 .card-footer
  {
    justify-content: flex-start;
  }
}

.footer
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0.5em 1em 0.5em;
  gap: 1em;
}

.footer nav
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5em 0;
  gap: 1em;
}

.footer nav a
{
  width: 3em;
  height: 3em;
  padding: 0.5em 0.5em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.footer nav a:hover
{
  animation: skill-icon-rotate 2s ease;
}

.footer nav a img
{
  width: 100%;
  height: auto;
}

.footer .bg
{
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

#gmail-contact:hover ~ .bg
{
  background-color: hsl(12, 66%, 50%);
  transition: all 0.5s ease;
}

#instagram-contact:hover ~ .bg
{
  background-color: hsl(335, 58%, 60%);
  transition: all 0.5s ease;
}


#linkedin-contact:hover ~ .bg
{
  background-color: hsl(224, 64%, 49%);
  transition: all 0.5s ease;
}

#x-contact:hover ~ .bg
{
  background-color: hsl(240, 4%, 14%);
  transition: all 0.5s ease;
}

.copyright
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
