:root
{
  --text-color: white;
  --text-color-hover: white;
  --background-color: rgb(15, 15, 15);
  --background-color-2: rgb(0, 0, 0);
  --secondary-color: rgb(53, 73, 82); 
  --accent-color: rgba(198, 39, 230, 0.884); 
  --accent-color-2: rgba(39, 230, 204, 0.884); 
  --clear-color: rgba(0, 0, 0, 0);

  --font-size: 1vw;
}

html, body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure full width */
    overflow-x: hidden;
}

html
{
  scroll-behavior: smooth;
}

body 
{
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: max(1vw, 1vh);
  font-family: 'Consolas', 'Calibri',  Verdana, sans-serif;

  display: flex;
}
  
  h1 {
    background-color: rgba(54, 52, 52);
    margin-left: 1em;
  }

  p {
    font-size: 1em;
  }


  
  /* Nav Styling*/
  #nav-bar
  {
    color: white;
    background-color: rgba(29, 30, 41, 0.75);

    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    padding-left: 1em;
  }

  /* Main portfolio name */
  #nav-bar #main-name
  {
    font-size: 1.5em;
    flex: 0.1 0 fit-content;
    color: var(--text-color);
    text-decoration: none;
    text-wrap: nowrap;
  }

  /* Contains links to sections*/
  #nav-bar nav
  {
    flex: 1 0 fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  /* Hidden in desktop*/
  .sidebar-anchor
  {
    display: none;
    flex: 0 0 auto;
    height: auto-fit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2em; padding-right: 2em;
  }

  /* On Hover in section links 
      -> change accent color
      -> increase size a little
  */
  #nav-bar .sections:hover 
  {
    color: var(--text-color-hover);
    display: inline-block;
    background-color: var(--accent-color);
    transition: all 0.5s ease;
  }

  #nav-bar .sections
  {
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    width: auto-fit;
    padding-top: 0.5em; padding-bottom: 0.5em;
    padding-left: 0.5em; padding-right: 0.5em;
    
    transition: color 0.5s ease, background-color 0.5s ease, display 0.5s ease, display ease
  }
  
  #sidebar-toggle:hover
  {
    width: max(2.1em, 32px);
    height: max(2.1em, 32px);
    transition: width 0.5s ease, height 0.5s ease;
  }

  #sidebar-toggle
  {
    width: max(2em, 30px);
    height: max(2em, 30px);
    display: flex;
    border-radius: 0.5em;
    background-color: rgb(226, 226, 226, 0);
    align-items: center; justify-content: center;
    transition: width 0.5s ease, height 0.5s ease;
  }

  #sidebar-toggle img
  {
    width: 80%; height: 60%;
  }

  #main-content
  {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .web-content-list.hidden
  {
    display: none;
  }

  .web-content-list
  {
    width: auto-fit;
    height: 100%;
    margin-top: 4vh;
    padding-top: 0.5vh;
    transition: all 0.3s ease;
  }

  .web-content
  {
    width: 100%;
    margin-left: 0px; margin-right: 0px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
  }

  .web-content-list .wcl-anchor
  {
    background-color: rgb(24, 23, 27);
    position: absolute;
    width: auto-fit;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
  }

  .web-content-list .section
  {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: column;
    align-items: flex-start;
    padding-left: 0.5em;
  }

  .web-content-list .section p
  {
    font-size: min(2vw, 2vh);
  }

  .web-content-list .title
  {
    display: block;
    width: 100%;
    height: fit-content;
  }

  .item a:visited
  {
    color:white;
    transition: color 0.5s ease;
  }

  .item a:hover
  {
    color: inherit;
    text-shadow: rgb(91, 186, 241);
    transition: color 0.5s ease, text-shadow 0.5s ease;
  }

  .item a
  {
    color: inherit;
    transition: color 0.5s ease, text-shadow 0.5s ease;
  }

  .web-content-list .item:nth-child(odd)
  {
    background-color: rgb(44, 44, 44, 0);
  }
  
  .web-content-list .item:nth-child(even)
  {
    background-color: rgb(32, 32, 32, 0);
  }

  .web-content-list .item:hover
  {
    font-size: 1.25em; 
    color: rgb(91, 186, 241);
    background-color: rgba(201, 125, 173, 0.479);
    transition: all 0.3s;
  }

  .web-content-list .item 
  {
    font-size: 1em;
    color: rgb(255, 255, 255);
    width: min(50vw, 200px);
    padding-top: 0.5em; padding-bottom: 0.5em;
    padding-right: 0.5em; padding-left: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75em;
    transition: all 0.3s;
  }

  .web-content-list .item img
  {
    height: 1.5em;
  }

  .web-content-list .item .item-link
  {
    text-decoration: none;
    text-shadow: #ccc;
    font-weight: bolder;
  }
  
  .aboutName .myName
  {
    font-size: 2.5em;
  }

  .aboutName .myJob
  {
    font-size: 1.75em;
  }

  .aboutName
  {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.5em;
    padding-top: 0.25em; padding-bottom: 1em;
  }

  .aboutContent
  {
    font-size: 1em;
    width: 50%;
    margin: auto;
  }

  .about-me
  {
    background-color: rgb(128, 105, 31);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 0.5em; padding-bottom: 2em;
  }

  .sub-section
  {
    background-color: var(--background-color-2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
  }

  .skill-list
  {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
    
  .skill 
  {
    flex: 1 0 max(20em, 30%);
    margin-bottom: 0.75em;
  }

  .skill-name 
  {
    font-size: 0.9em;
    margin-bottom: 0.4em;
  }

  .skill-bar 
  {
    background-color: var(--secondary-color);
    border-radius: 0.3em;
    overflow: hidden;
    position: relative;
    box-shadow: 0.1em 0.2em 0.4em var(--background-color);
    transition: all 0.5s ease;
  }

  .skill-level
  {
      height: 1.3em;
      width: 0%;
      border-top-left-radius: 0.3em;
      border-bottom-left-radius: 0.3em;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      background: linear-gradient(90deg, var(--clear-color) 0%, var(--clear-color-2) 35%, var(--clear-color) 100%);
      transition: all 0s ease;
  }

  .skill-level.is-visible
  {
    width: 100%;
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--accent-color-2) 35%, var(--accent-color) 90%);
    transition: all 2s ease;
  }
  
  .skill-level.is-visible:hover
  {
    width: 100%;
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--accent-color-2) 35%, var(--accent-color) 90%);
    transition: all 2s ease;
  }

  @media (max-width: 800px) {
      .skills {
          width: 90%; /* Adjust the width for smaller screens */
      }
      .skill 
      {
        flex: 1 0 max(max(10em, 150px), 30%);
        margin-bottom: 0.75em;
      }
  }


  .large-screenshot:hover
  {
    width: max(45%, 450px);
    border-color: rgba(219, 219, 219, 0.568);
    transition: all 0.5s ease;
  }

  .large-screenshot
  {
    width: max(40%, 400px);
    align-items: center;
    display: inline-block;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 5px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.5s ease;
  }

  .large-game-info
  {
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding-left: 5em; padding-right: 5em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
  }

  .screenshot-info .header:hover
  {
    text-shadow: 2px 2px   rgb(128, 105, 31);
    transition: all 0.5s ease;
  }

  .screenshot-info .header
  {
    font-size: 25px;
    text-shadow: 2px 2px  rgba(22, 22, 22, 0);
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.5s ease;
  }

  .info-boxes
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .info-box
  {
    font-size: 10px;
    background-color: #66120f;
    padding-top: 0.35em; padding-bottom: 0.35em;
    padding-left: 0.5em; padding-right: 0.5em;
    border-radius: 0.25em;
    text-align: center;

    transition: all 0.5s ease;
  }

  .info-box:hover
  {
    transition: all 0.5s ease;
  }

  #ib-1
  {
    background-color: rgb(88, 16, 11);
  }

  #ib-2
  {
    background-color: rgb(16, 78, 73);
  }

  #ib-3
  {
    background-color: rgb(22, 87, 16);
  }

  .screenshot-info .body
  {
    font-size: 1em;
    width: auto;
    color: white;
    text-align: center;
  }

  .screenshot-info
  {
    flex: 1 0 40%;

    text-align: center;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2em; padding-right: 2em;
    padding-bottom: 2em;
  }

  .large-game-info
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }


  #personal-projects
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #personal-projects .divisor-bar
  {
    display: flex;
    flex-direction: column;

    width: 100%;
    background-color: var(--background-color-2);
    justify-content: center;
    align-items: center;

    margin-bottom: 1.5em;
  }

  .grid-container
  {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scrollbar-color: var(--clear-color);
    
    padding: 1em 1em;
  }

  .grid-container .grid-section
  {
    display: flex;
    flex: 1 0 100%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;

    scroll-snap-align: center;

    width: 100%;
    padding: 2em;
  }

  .grid-section .image-container
  {
    flex: 2 0 max(200px, 30%);
    height: 100%;

    display: block;

    border-style: solid;
    border-radius: 2em;
    border-color: var(--clear-color);
    box-shadow: 0.1em 0.2em 0.4em var(--secondary-color);
    box-sizing: border-box;

    overflow: hidden;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease;
  }

  .grid-section .image-container:hover
  {
    border-radius: 0.5em;
    box-shadow: 0.15em 0.3em 0.6em var(--accent-color);
  }

  .image-container img
  {
    width: 100%;
    height: auto;
  }

  .grid-section .info-boxes
  {
    padding-left: 0.75em; padding-right: 0.75em;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .info-boxes .info-box
  {
    padding: 0.5em;
  }

  .grid-section .info-body
  {
    height: 100%;
    flex: 4 0 max(350px, 30%);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    opacity: 0;
    transition: all 0.5s ease;
    will-change: opacity;
  }

  
  .grid-section .info-body.is-visible
  {
    opacity: 1;
    transition: all 0.5s ease;
  }


  .info-body .info-content p
  {
    font-size: 1em;
    text-align:left;
  }

  .grid-section .info-buttons
  {
    height: 100%;
    flex: 1 0 max(200px, 20%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 2em; padding-right: 2em;
    gap: 0.5em;
  }

  .info-buttons button
  {
    flex: 1 0 4em;
    height: 2em;
    display: block;
    border-style: solid;

    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;

    transition: all 0.5s ease;
  }

  .info-buttons button:hover
  {
    flex: 2 0 4.25em;
    background-color: var(--accent-color);
    border-radius: 4em;
    transition: all 1s ease;
  }



  #footer
  {
    background-color: var(--background-color-2);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;

    padding: 2em 0.5em;
  }

  .contact-links
  {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
  }

  .contact-links a
  {
    flex: 1 0 4em;

    width: 100%; 
    height: 100%;

    border-style: none;

    color: var(--text-color);
    background-color: var(--background-color);

    padding: 5px;
    margin-left: 5px; margin-right: 5px;
    align-items: center;

    transition: all 0.5s ease;
  }

  .contact-links a:hover
  {
    flex: 2 0 8em;
    background-color: var(--accent-color);

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    transition: all 0.5s ease;
  }

  #copyright p
  {
    font-size: 1em;

    text-align: center;
    padding: 1em 1em;
  }

  #copyright
  {
    bottom: 0;
  }
